* { box-sizing: border-box; margin: 0; padding: 0; outline: none; }

html { font-size: 10px; }

body { font-family: 'Poppins', sans-serif; }

p, li { line-height: 1.5; }

hr { display: block; clear: both; border: 0; }

h2 { margin: 10px 0 20px 0; font-size: 2.2rem; color: #45a598; }

div { vertical-align: top; }

ul { list-style: none; }

a { color: #d4b93f; font-weight: bold; }

.col li { padding: 10px 0 0 5px; font-size: 1.3rem; list-style-type: none; }

.col li a { font-weight: bold; }

.col a:link, .col a:visited, .col a:hover { text-decoration: none; color: #b80000; }

.header { display: flex; width: 100%; height: 13vh; background-color: #c6d7d3; color: #fff; }

.header__menu { display: inline-flex; flex-direction: column; justify-self: flex-end; justify-content: center; border-left: 2px solid #fff; padding-left: 16px; }

.header__menu a { color: #fff; font-size: 16px; }

.line3 { height: 71vh; }

.col1 { display: inline-block; width: 15.5%; margin: 0 .5% 0 .5%; }

.col2 { display: inline-block; width: 16%; margin-right: .5%; }

.col3 { display: inline-block; width: 65%; margin-right: .5%; }

.blockCadre { border: 2px solid #c6d7d3; background-color: rgba(255, 255, 255, 0.5); padding: 1.5vh 10px 2.5vh 10px; }

input[type=checkbox] { position: relative; top: 2px; margin: 0 0 0 9px; }

div.spells input[type=checkbox] { position: relative; top: 3px; margin: 0; }

.title { text-align: center; padding: 8px 0 0 0px; font-size: 16px; font-weight: bold; color: #111; font-family: "Playfair Display", serif; }

.subtitle { padding-bottom: 6px; font-size: 1.1rem; font-weight: bold; color: #888; text-transform: uppercase; }

.tab__subtitle { padding-bottom: 6px; font-size: 1.1rem; font-weight: bold; color: #888; text-transform: uppercase; }

.textinput { width: 35%; padding: 2px 2px 0 2px; margin: 0px 10px 0px 5px; font-size: 1.3rem; text-align: center; font-weight: bold; border-width: 0; background-color: rgba(0, 0, 0, 0); }

.small { width: 25px; }

.bonusinput { width: 35px; padding: 2px; margin: 0px  3px 1px 3px; font-size: 1.3rem; text-align: center; font-weight: bold; border-width: 0; background-color: rgba(0, 0, 0, 0); }

.xpinput { width: 90px; padding: 2px 2px 0 2px; margin: 0px 10px 0px 5px; font-size: 1.3rem; text-align: center; font-weight: bold; border-width: 0 0 1px 0; border-color: #F4F4F4; background-color: rgba(0, 0, 0, 0); }

.valinput { width: 55%; padding: 0; font-size: 2.2rem; text-align: center; font-weight: bold; border: 0; background-color: rgba(0, 0, 0, 0); }

textarea, div.editable { border-width: 0px; margin-bottom: 5px; padding: 0 5px 0 5px; resize: none; overflow-y: auto; width: 100%; text-align: left; line-height: 1.5rem; font-family: Verdana, Arial, sans-serif; }

textarea, div, table { font-size: 1.1rem; }

button.plusmoins { width: 20px; padding: 4px; }

input.grimoire { margin-left: 75px; padding: 0 4px; }

/* ========= HEADER ========= */
.header__content { display: inline-block; width: 66%; }

img.image { float: left; height: 80px; width: 80px; margin: 6px; }

.nom { font-size: 3.0rem; font-weight: bold; }

.classerace { display: inline-block; font-size: 2.0rem; font-weight: bold; }

.back { font-size: 1.6rem; font-weight: bold; }

.interface { display: inline-block; width: 29%; font-family: Verdana, Arial, sans-serif; font-size: 2.5rem; }

#upload, #uimd, #ajax { display: inline-block; }

#upload input { margin-top: 5px; padding: 2px 4px; cursor: pointer; }

#privacity { font-size: 1.1rem; margin-top: 5px; }

input[type=radio] { margin: 2px 0; }

input#mymd { font-size: 1.1rem; border-style: none; padding: 1px 2px; width: 120px; }

#ajax { font-size: 1.1rem; margin-top: 20px; }

.icones { display: inline-block; width: 5%; font-size: 2.4rem; text-align: center; }

.icones i { margin-top: 7px; cursor: pointer; }

/* ========= CONTENT ========= */
.content { display: flex; width: 100%; }

/* ========= STATS ========= */
.stats { display: flex; flex-direction: column; width: 10vw; line-height: 1.2; }

.stat__value { width: 100%; height: 11vh; margin-bottom: 8px; padding: 16px; text-align: center; background-image: url(../img/sheet/frame-square.svg); background-size: 100% 100%; background-repeat: no-repeat; background-position: top center; background-color: rgba(0, 0, 0, 0); }

.stat__title { font-family: "Playfair Display", serif; font-size: 16px; text-align: center; margin-bottom: -4px; background-color: #fff; }

.stat__modifier { font-family: "Patrick Hand SC", cursive; font-size: 24px; margin-bottom: 8px; color: #606262; }

.stat__total { position: relative; font-family: "Patrick Hand SC", cursive; font-size: 16px; padding-top: 4px; color: #606262; }

.stat__total:before { content: ''; display: block; position: absolute; top: 0; left: 50%; margin-left: -15px; border-top: solid 2px #ddcb88; width: 30px; }

/* ========= DETAILS ========= */
.details { background-repeat: no-repeat; background-attachment: fixed; background-position: center; background-size: cover; width: 90vw; }

/* INFOS 2 */
.infos { display: flex; align-items: center; justify-content: space-evenly; padding: 8px; }

.info { position: relative; width: 100px; height: 100px; padding: 16px; text-align: center; }

.info:before { content: ''; display: block; position: absolute; top: 0; bottom: 0; left: -16px; width: 100px; height: 100%; background-image: url(../img/sheet/border-left.svg); background-size: 100% 100%; background-repeat: no-repeat; background-position: top center; }

.info:after { content: ''; display: block; position: absolute; top: 0; bottom: 0; right: -16px; width: 100px; height: 100%; background-image: url(../img/sheet/border-right.svg); background-size: 100% 100%; background-repeat: no-repeat; background-position: top center; }

.info__value { font-family: "Patrick Hand SC", cursive; font-size: 24px; }

.info__title { font-family: "Playfair Display", serif; font-size: 16px; margin-top: 8px; }

.ca { width: 14.5%; height: 10vh; margin: 0 0.5% 0 0; text-align: center; padding: 16px 16px; background-image: url(../img/sheet/frame-plant.svg); background-size: 100% 100%; background-repeat: no-repeat; background-position: top center; background-color: rgba(0, 0, 0, 0); }

.ca__title { font-family: "Playfair Display", serif; font-size: 16px; }

.ca__value { font-family: "Patrick Hand SC", cursive; font-size: 24px; }

.pvInfo { width: 13.5%; height: 12vh; margin: 0 0.5% .8vh 0; text-align: center; border: 2px solid #c6d7d3; border-bottom: 8px solid #c6d7d3; }

.pvInfo__title { font-family: "Playfair Display", serif; font-size: 16px; }

.pvInfo__subtitle { font-family: "Playfair Display", serif; font-size: 12px; }

.pvInfo__value { font-family: "Patrick Hand SC", cursive; font-size: 24px; }

.pvInfo__value--1 { width: 70px; margin: 1vh 0 0 0; font-weight: bold; }

.pvInfo__value--2 { width: 30px; margin: 1vh 0 0 0; }

.pvInfo:last-of-type { padding-top: 20px; }

.deathBack input[type=checkbox] { position: relative; top: 3px; margin: 2px 0 5px 5px; }

.deathBack input.last[type=checkbox] { margin-right: 16px; }

/* Colonne 1 */
.jds { display: flex; flex-direction: column; height: 25vh; margin-bottom: 1vh; }

.jds .title { margin-top: auto; }

.maitrises { display: flex; flex-direction: column; height: 45vh; }

.maitrises .title { margin-top: auto; }

.maitrises .subtitle { margin-top: 16px; }

/* Colonne 2 */
.passive { display: flex; align-items: center; height: 6vh; margin-bottom: 1vh; }

.passive__value { display: inline-flex; align-items: center; justify-content: center; width: 70px; height: 70px; background-image: url(../img/sheet/circle.svg); background-size: 100% 100%; background-repeat: no-repeat; background-position: top center; background-color: rgba(0, 0, 0, 0); font-family: "Patrick Hand SC", cursive; font-size: 24px; }

.passive__title { font-family: "Playfair Display", serif; font-size: 16px; padding-left: 8px; }

.comp { height: 64vh; }

/* Colonne 3 */
.tab0 { height: 4vh; }

.menuTab1, .menuTab2 { font-size: 1.1rem; margin: 0 6px; font-weight: bold; color: #888; text-transform: uppercase; cursor: pointer; }

.menuTabSelected { color: #111; border-bottom: 2px solid #111; }

#tab1, #tab2, #tab3, #tab4, #tab5, #tab6, #tab7 { padding: 0px 3px 0 3px; }

table { width: 100%; }

th { color: #444; font-weight: normal; }

th.arme1 { width: 37%; }

th.arme2 { width: 13%; }

th.arme3 { width: 50%; }

td > input { padding: 3px !important; text-align: center !important; width: 100% !important; margin: 0 !important; font-size: 1.2rem !important; }

.materiel { height: 71vh; }

/* -4 padding blockcadre -4 tab0 -4 margin bootom = 59 */
.equipment { margin-bottom: 16px; }

.equipment__list { columns: 2; -webkit-columns: 2; -moz-columns: 2; }

.equipment__list__qt { display: inline-flex; justify-content: center; align-items: center; font-family: "Patrick Hand SC", cursive; font-size: 14px; width: 20px; height: 20px; color: #606262; border: 1px solid #606262; }

.materiel .tab1-1 { height: 25vh; }

.materiel .tab1-2 { height: 34vh; }

#armesDetail { height: 100%; }

.materiel .tab2-1 { height: 10vh; }

#equip { height: 88%; }

.materiel .tab2-3 { height: 21vh; }

#tresors { height: 100%; }

.materiel .tab3-1 { height: 8vh; }

.materiel .tab3-2 { height: 55vh; overflow-y: scroll; }

.spellcaster { width: 44%; margin-bottom: 5px; }

.incant { display: inline-block; width: 36%; }

.incantVal { width: 8%; margin-bottom: 5px; }

.perso { display: inline-block; width: 17%; }

.persoVal { width: 27%; margin-bottom: 5px; }

.lvl { font-size: 1.4rem; font-weight: bold; }

.slot { width: 15px; text-align: center; }

.sorts__item { display: flex; }

.sorts__list { columns: 2; -webkit-columns: 2; -moz-columns: 2; }

.sorts__list a { display: inline-block; padding-left: 8px; }

/* Colonne 4 */
.personnage { height: 71vh; }

/* -4 padding blockcadre -4 tab0 -4 margin bootom = 59 */
.personnage .tab4-1 { height: 48vh; }

.capacites { margin-bottom: 24px; }

.capacites li { margin-bottom: 8px; }

.personnage .tab4-2 { height: 13vh; }

.personnage .tab6-1 { height: 11vh; }

#backLong { height: 66%; }

.personnage .tab6-2 { height: 30vh; }

#histoire { height: 88%; }

.personnage .tab6-3 { height: 20vh; }

#allies { height: 96%; }

#notes { height: 55.8vh; }

.alerte { color: black; animation: highlight 2s; }

@media only screen and (max-width: 1199px) { .nom { font-size: 2.6rem; padding: 0; } .classerace { font-size: 1.8rem; padding: 8px 0 0 0; } .back { font-size: 1.5rem; padding: 8px 0 0 0; } .interface { width: 29%; } .icones { width: 6%; } .header { height: auto; } .infos { height: auto; } .line3 { height: auto; } .col1 { width: 48.5%; margin: 0 .5% 10px 1%; } .col2 { width: 48.5%; margin: 0 1% 10px .5%; } .col3 { width: 98%; margin: 0 1% 10px 1%; } h2 { margin: 5px 0 0px 0; } textarea, div, table { font-size: 1.3rem; } .jds, .percep, .comp { font-size: 1.3rem; } .passiveVal { margin: 11px 12.5% 0 5%; } }

@media only screen and (max-width: 699px) { .nom { font-size: 2.2rem; padding: 0; } .classerace { font-size: 1.4rem; padding: 4px 0 0 0; } .back { font-size: 1.4rem; padding: 4px 0 0 0; } .icones { width: 10%; } .header { position: sticky; position: -webkit-sticky; top: 0; z-index: 1; width: 100%; padding: 4px; } .content { display: block; } .details { width: 100%; } .stats { width: 100%; flex-direction: row; flex-wrap: wrap; } .stats .stat { width: 33.333%; } .infos { justify-content: center; flex-wrap: wrap; } .infos .info, .infos .ca { width: 30%; } .infos .pvInfo { width: 33%; margin: 0; margin-top: 16px; } .infos .pvInfo__title { font-size: 14px; } .col1 { width: 98%; margin: 0 1% 5px 1%; } .col2 { width: 98%; margin: 0 1% 5px 1%; } .col3 { width: 98%; margin: 0 1% 5px 1%; } .jds, .percep, .comp { font-size: 1.3rem; } .jds { height: 24vh; margin-bottom: 5px; } .passiveVal { margin: 15px 12.5% 0px 5%; } .comp { height: 60vh; margin-bottom: 5px; } .materiel, .personnage { height: 85vh; } /* -5 padding blockcadre -2 menu -2 marge-bottom menu = 76 */ .personnage .tab4-1 { height: 56vh; } /* 76 */ #capacites { height: 94%; } .personnage .tab4-2 { height: 20vh; } #capacitesExtra { height: 92%; } .personnage .tab6-1 { height: 15vh; } /* 76 */ #backLong { height: 76%; } .personnage .tab6-2 { height: 38vh; } #histoire { height: 90%; } .personnage .tab6-3 { height: 23vh; } #allies { height: 90%; } #notes { height: 71vh; } }

.personnage { background-repeat: no-repeat; background-attachment: fixed; background-position: center; background-size: cover; }

.single-sort { height: 90vh; background-repeat: no-repeat; background-attachment: fixed; background-position: center; background-size: cover; }

.single-sort__content { max-width: 800px; margin: 0 auto; padding: 24px; }

.single-sort h1 { font-size: 48px; font-family: "Playfair Display", serif; }

.single-sort p { font-size: 16px; }

.single-sort p span { font-family: "Playfair Display", serif; }

/*# sourceMappingURL=main.css.map */