<div class="section intro">
    <div class="container section__container">
        <h2 class="section__title title-h2">
            {{ title }}
            <span class="tag tag--yellow">{{ tag }}</span>
        </h2>
        {{ description }}
    </div>
</div>