@mixin button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    text-decoration: none;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

.button {
    @include button();
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-sm;
    color: $black;
    text-align: center;
    padding: pxtorem(17) pxtorem(12);
    outline: 2px solid transparent;
    outline-offset: pxtorem(2);
    transition: $btn-transition;
}

.button--primary {
    background-color: $white;
    color: $black;
    font-size: $font-size-link;
    text-align: center;
    &:hover, &:focus {
        outline-color: $white;
        background-color: rgba($white, .9);
    }
    @include media-breakpoint-up(md) {
        font-size: $font-size-link-lg;
    }
}

.button--secondary {
    background-color: transparent;
    font-weight: 500;
    border: solid 1px $black;
    font-size: $font-size-link;
    &:hover, &:focus {
        outline-color: $black;
        background-color: rgba($white, .2);
    }
}