.list {
    @include media-breakpoint-up(md) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: pxtorem(16);
    }
    &__item {
        display: flex;
        align-items: center;
        gap: pxtorem(10);
        margin-bottom: pxtorem(30);
        font-size: $font-size-title-xs;
        @include media-breakpoint-up(md) {
            font-size: $font-size-xs;
            gap: pxtorem(20);
            margin-bottom: pxtorem(40);
        }
    }
}